* {
  box-sizing: border-box;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

h1, h2, p, .result, .answerIs {
	text-align: center;
}

.hidden {
display: none;
}

.highlight {
	background-color: green;
	color: white;
}

.score {
	/*display: block;
	right: 10px;*/
}

fieldset {
	border: 0;
}

li {
	margin: 0;
	list-style: none;
}

.button {
	/*display: inline-block;*/
	color: white;
	background-color: blue;
	border-radius: 5px;
	/*text-align: center;*/
	/*position: relative;*/
	/*margin-left: auto;
	margin-right: auto;*/
	/*padding-top: 7px;*/
}

h5 {
	font-weight: 200;
}