* {
  box-sizing: border-box;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

h1, h2, p {
	text-align: center;
}

.hidden {
display: none;
}

.score {
	/*display: block;
	right: 10px;*/
}

fieldset {
	border: 0;
}

li {
	margin: 0;
	list-style: none;
}

.result {
	text-align: center;
}

.button {
	width: 100px;
	height: 30px;
	color: white;
	background-color: blue;
	border-radius: 3px;
	text-align: center;
	position: relative;
	margin: auto;
	padding-top: 7px;
}